*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    font-family: 'Pacifico', cursive;
    line-height: 1.5;
}

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}
    /*=======Nav Bar Section=====*/
#menu-bar{
    width: 50px;
    height: 10px;
    margin: 30px 10px 10px 10px;
    position:fixed;
    cursor: pointer;
    z-index: 1;
}
.bar{
    background:#005b96;
    border-radius: 7%;
    transition: .4s;
}
#bar1{
    width:40px;
    height: 10px;
    transform: translateY(-4px);
}
#bar2{
    width: 40px;
    height: 10px;
}
#bar3{
    width: 40px;
    height: 10px;
    transform: translateY(4px);
}
.change .bar{
    background: #005b96;
}
.change #bar1{
    transform: translateY(6px);
    rotate: z(45deg);
}
.change #bar3{
    transform: translateY(-15px);
    rotate: z(-45deg);
}
.change #bar2{
    opacity: 0;
}
.nav li a{
    text-decoration: none;
    color: #005b96;
    font-size: 30px;
    font-weight: bold;
}
.nav li a:hover{
    color: #fff;
    background: #005b96;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.nav li{
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    list-style-type:none;
}
.nav{
    display: none;
}
.change-btn{
    display: block;
}

.heading{
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(/img/profile_bg.jpg) center/cover fixed no-repeat;
    color: #ffffff;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
    height: 200px;

}
.heading>h1{
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.heading>h2{
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 5px;
}

.heading .fas{
    margin-left: 80%;
    cursor: pointer;
    font-size: 40px;
    margin-bottom: 20px;
}
.heading>h5{
    margin-left: 80%;
    cursor: pointer;
    font-size: 20px;
    
}
h1{
    grid-column: 1/-1;
    text-align: center;
}

.cart-badge {
    height: 25px;
    width: 25px;
    background-color: #28A745;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
  }

/*======TOP NAV Section=======*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #005B96;
    overflow: hidden;
    margin-bottom: 25px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #005B96;
    color: white;
  }


  .btn-order {
    background-color: #005B96; /* Green */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 8px;
  }
        .dif-cate-box { padding: 0; border: 0px solid #e6e6e6; border-radius: 0px; box-shadow: 0px 3px 18px #1672b021; margin-bottom: 35px;}
  .min-ht .dif-cate-box{ min-height: 300px;}
  .dif-cate-box .img-box{padding-left:0; padding-right:0;}
  .dif-cate-box .img-box .img{width: 100%; max-height: 228px; object-fit: cover;}
  .dif-cate-box .disc-wrp{padding: 15px 18px; text-align: center;}
  .dif-cate-box .disc-wrp h4, .fourBlock h4{font-size: 18px; color:#00192b; font-family: 'Poppins', sans-serif; font-weight: 600; margin-bottom: 8px;}
  .dif-cate-box .disc-wrp p, .fourBlock p{color: #666666; font-size: 13px; font-family: 'Poppins', sans-serif; line-height: 19px; margin-bottom:0;}
  .home-signup-btn{font-size:17px; color:#FFF; font-family: 'Poppins', sans-serif;}
  
  .cateTtl h2{font-size:30px; color:#263238; font-family: 'Poppins', sans-serif; margin-bottom: 0;}
  
  .newTtl h2{font-size:30px; color:#263238; font-family: 'Poppins', sans-serif; margin-bottom: 0;}
  
  .whtTtl h2{font-size:30px; color:#fff; font-family: 'Poppins', sans-serif;}
  
  .cateTtl h2 span, .newTtl h2 span, .whtTtl h2 span{font-weight: 600;}
  
  .mb-30 {margin-bottom: 30px;}
  
  @media screen and (max-width: 653px) {
      ul.icon-img-list{padding:0 35px;}
      ul.icon-img-list li {width: 100%; min-width: 100%; margin-left:0px !important; margin-right:0 !important;}
  }
  @media screen and (max-width: 767px) {
      .min-ht .dif-cate-box{min-height: auto;}
  }
  @media only screen and (min-device-width : 992px) and (max-device-width : 1199px) {
      .dif-cate-box{min-height: 318px;}
  }
          /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    border-radius: 3px 0 0 3px;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    margin-left: 10%;
    margin-top: -90px;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
/*======Category Section=======*/

.cat{
    text-align: center;
    padding: 10px;
    color:rgb(240, 235, 235);
    background: rgba(37, 37, 37, 0.5);
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5px;
 }
.cat:hover{
    color: skyblue;
}

@media screen and (min-width:576px){
    #CategoryIcons{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 992px){
    #CategoryIcons{
        grid-template-columns: repeat(5, 1fr);
    }
}
/*======End of Category Section=======*/

/*---===Food Items====----*/

.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
    margin-left: 5px;
    margin-right: 5px;
    height: 80%;

}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h3{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details-sub>button{
    background-color: #005b96;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    padding: 12px 32px;
    cursor: pointer;
    margin-top: 40px;
    outline: none;
}
@media screen and (min-width: 576px){
    .items{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap:16px ;
    }
}
@media screen and (min-width: 992px){
    .items{
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-column-gap:16px ;
    }
}

/*---=====about======---*/
#about{
    padding: 40px;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
    url(/img/homebg.jpg) center/cover fixed no-repeat;
    color: #ffffff;
}

.about{
    margin: 30px 0;
    display: flex;
    color: #ffffff;

}
.about-icon .fas{
    font-size: 60px;
    color: #ffffff;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: #ffffff;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
 transition: transform 2s ease, color 2s ease;
 transform: translateY(-10px);
    color: darkblue;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}

/*==========Social Icons====*/

#social-icons{
    height: 150px;
      background:#fff;
       text-align: center;
       padding: 90px 0 30px 0;
   }
   #social-icons a{
       display: inline-block;
       padding: 5px 5px;
       margin: 0 5px;
       font-size: 40px;
       border-radius:5px;
       transition: transform 2s ease, color 2s ease;
   }
   #social-icons a:hover{
       transform: translateY(-20px);
   }
   .facebook{
       color: #3b5998;
   }
   .instagram{
    color:   #e1306c;
   }
   .plus{
       color:#db4a39;
       font-size: 35px;
   }




   /*==========Footer========*/
.footer{
    background:#005b96;
    text-align: center;

}
.footer .text{
text-transform: uppercase;
color: #fff;
font-size: 20px;
margin-top: 20px;
letter-spacing: 4px;
}

